footer {
    background-color: rgb(56, 149, 180);
    padding: 20px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}

footer a {
    color: white;
    font-size: 2rem;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: auto;
    color: white;
    padding-top: 10px;
    padding-right: 40px;
}

@media (max-width: 768px) {
    footer a {
        font-size: 1.5rem;
    }
}